<!DOCTYPE html>
{% load i18n %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<header>
    {#Форма выбора языка#}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>

    <p>{% translate "Добро пожаловать на нашу страницу" %}</p>
    <p><a href="{% url 'app_todo:todo_list' %}">{% trans 'В задачи' %}</a></p>
    <p><a href="{% url 'app_todo:todo_create' %}">{% trans 'Добавить задачу' %}</a></p>
    {% block header %}
    {% endblock header %}
</header>
{% block content %}
{% endblock content %}
</body>
</html>